{% extends 'base.html' %}
{% block content %}

<main>
    <h1>New Restaurant</h1>

    <form method='POST'>
        <fieldset>
            <legend>Please enter a new restaurant:</legend>

            <label>
                Restaurant's name:
                <input type="text" name="restaurant_name">
            </label>
            
            <label>
                Restaurant type:
                <select name="restaurant_type" id="restaurant_type">
                    <option value="Fast Food">Fast Food</option>
                    <option value="Casual Dining">Casual Dining</option>
                    <option value="Family Style">Family Style</option>
                    <option value="Fine Dining">Fine Dining</option>
                </select>
            </label>

            <label>
                Restaurant ethnicity:
                <input type="text" name="restaurant_ethnicity">
            </label>

            <label>
                Restaurant price:
                <select name="price" id="price">
                    <option value="$">$</option>
                    <option value="$$">$$</option>
                    <option value="$$$">$$$</option>
                    <option value="$$$$">$$$$</option>
                </select>
            </label>

            <input type="submit" class="submit" value="Submit!">
        </fieldset>
    </form>
</main>

{% endblock content %}