{% extends 'base.html' %}

{% block title %}
Random Restaurant Generator
{% endblock title %}

{% block content %}

<body>
    <!-- Error message container -->
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        </div>

    <div class="jumbotron jumbotron-fluid bg-cover text-white text-center vertical-center" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(/static/images/background.jpg)">
        <h1>Random Restaurant Generator</h1>
        <p class="lead">Having trouble deciding where to eat? We can help!</p>
        <a href="/search_restaurants" class="btn btn-primary">Get Started</a>
    </div>
</body>

{% endblock content %}