{% extends 'base.html' %}
{% block content %}

<main>
    <h1>Show Restaurants</h1>

    <h3>Showing random {{ restaurant_type }} restaurants in {{ restaurant_location }}!</h3>
    <img src="{{ image }}" alt="{{ name }} image">
    <p>Name: {{ name }}</p>
    <p>Address: {{ address }}</p>
    <p>Price: {{ price }}</p>
    <p>Rating: {{ rating }}</p>
    <button onClick="window.location.reload();">Show another random restaurant</button>

    <form method = 'POST'>
        <input type="submit" class="submit" value="Start Over">
    </form>
</main>

{% endblock content %}