{% extends 'base.html' %}

{% block title %}
Random Restaurant
{% endblock title %}

{% block content %}

<main>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="column lg-6 justify-content-center align-items-center">
                <h3>Showing random {{ restaurant_type }} restaurants in {{ restaurant_location }}!</h3>
                <img src="{{ image }}" alt="{{ name }} image">
                <p>Name: {{ name }}</p>
                <p>Address: {{ address }}</p>
                <p>Price: {{ price }}</p>
                <p>Rating: {{ rating }}</p>
                <button class = "btn btn-primary" onClick="window.location.reload();">Show another random restaurant</button>
                <p>
                    {% with %}

                    {% set location=(lat, lng) %}
                    {% set style="width:900px;height:400px;"%}

                    {{
                    googlemap(
                    "simple-map",
                    location.0, location.1,
                    markers=[location,],
                    style=style,
                    zoom=18
                    )
                    }}

                    {% endwith %}
                </p>
                <!-- <button class = "btn btn-primary" onClick="window.location.reload();">Show another random restaurant</button> -->

                <form method='POST'>
                    <button class = "btn btn-danger" type="submit" class="submit" value="Start Over" name="button">Start Over</button>
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock content %}